<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
  <div class="d-inline-flex align-items-center">
    <form action="/answer" class="form-inline" data-turbo="false">
      <input type="text" name="answer" class="form-control mr-2">
      <input type="submit" class="btn btn-primary" value="Ask!">
    </form>
  </div>
</div>
